*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    margin: auto;
    width: 1100px;
}
@font-face {
    font-family: boxing;
    src: url(../fonts/open-sans/OpenSans_Condensed-Regular.ttf);
}
@font-face {
    font-family: boxing2;
    src: url(../fonts/open-sans/OpenSans-Bold.ttf);
}
html, 
body{
    font-family: boxing;
}
header{
    background: url('../images/header\ \(2\).png') no-repeat center;
    background-size: cover;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #101524;
    width: 1348px;
    margin-left: -125px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}
.navbar-box{
    height: 90px;
    width: 100%;
    
}
nav a{
    color: #CECDCD;
    margin-left: 40px;
    display: inline-block;
    transition: 0.3s;
    font-size: 16px;
    font-family: boxing2;
}
nav a:hover{
    color: #fff;
    font-weight: 700;
}
.navbar .active{
    color: #fff;
    font-weight: 700;
}
nav{
    margin-right: 123px;
}
nav a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: white;
    display: flex;
    border-radius: 3px;
    margin-top: 3px;
    margin-inline: auto;
    transition: 0.3s;
}
nav a:hover::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    display: flex;
    border-radius: 3px;
    margin-top: 3px;
    margin-inline: auto;
}
.navbar .active::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    display: flex;
    border-radius: 3px;
    margin-top: 3px;
    margin-inline: auto;
}
.part2-text{
    color: #fff;
    text-align: center;
    line-height: 32px;
    font-size: 24px;
    letter-spacing: 3px;
    margin: 30px 0px;
}
.part2-img2{
    margin-left: 20px;
}
.part2-img3{
    margin-left: 20px;
}
.part2-img4{
    margin-left: 20px;
}
.part2-box2{
    padding: 0px 0px 100px;
    display: flex;
}
.part2-box3 h1{
    color: #fff;
}
.part2-box3{
    display: flex;
    margin-top: -100px;
    padding: 0px 0px 80px 0px;
}
.part2-text2{
    margin-left: 80px;
}

.part2-box3 h1{
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.23px;
    color: #fff;
}
.part2-text3{
    margin-left: 210px;
}
.part2-text4{
    margin-left: 210px;
}
.part2-text5{
    margin-left: 200px;
}
.part2-logo{
    margin-left: 125px;
}
.p2-container2{
    width: 1100px;
    margin: auto;
}
.part2-boxs3{
    display: flex;
    justify-content: space-around;
    margin: 0px 100px;
    flex-wrap: wrap;
}
.part2-box5{
    background-color: #2BA7E2;
    height: 300px;
    text-align: center;
     width: 250px;
    height: 300px;
    border-radius: 4px;
}
.part2-box4{
    text-align: center;
    margin: 100px 0px;
}
.part2-img5{
    margin-top: 20px;
}
.part2-box6{
    background-color: #DFDFDF;
    height: 300px;
    text-align: center;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 300px;
    border-radius: 4px;
}
.part2-box7{
    background-color: #DFDFDF;
    height: 300px;
    text-align: center;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
    width: 250px;
    border-radius: 4px;
}
.part2-img6{
    margin-top: 20px;
}
.part2-img7{
    margin-top: 20px;
}
.part2-box8{
     background-color: #2BA7E2;
    height: 300px;
    text-align: center;
    
    width: 250px;
    margin-top: 30px;
    border-radius: 4px;
}
.part2-img8{
    margin-top: 20px;
}
.part2-box9{
    background-color: #DFDFDF;
   height: 300px;
   text-align: center;
   box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
   width: 250px;
   margin-top: 30px;
   border-radius: 4px;
}
.part2-img9{
    margin-top: 20px;
}
.part2-text2{
    color: white;
    margin-left: 60px;
}
.part2-text3{
    color: white;
    margin-left: 120px;
}
.part2-text4{
    color: white;
    margin-left: 50px;
}
.part2-text5{
    color: white;
    margin-left: 89px;
}
.part2-text6{
    color: white;
    
}
.part2-box-main{
    transition: 1.2s;
}
.part2-box-main:hover{
    transform: scale(1.1 );
    -webkit-animation: 1.2s ease;
}
.part2-box-main2{
    transition: 1.2s;
}
.part2-box-main2:hover{
    transform: scale(1.1 );
    -webkit-animation: 1.2s ease;
}
.part2-box-main3{
    transition: 1.2s;
}
.part2-box-main3:hover{
    transform: scale(1.1 );
    -webkit-animation: 1.2s ease;
}
.part2-box-main4{
    transition: 1.2s;
}
.part2-box-main4:hover{
    transform: scale(1.1 );
    -webkit-animation: 1.2s ease;
}
.part2-box10{
    background-color: #DFDFDF;
   height: 300px;
   text-align: center;
   box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
   width: 250px;
   margin-top: 30px;
   border-radius: 4px;
}
.part2-img10{
    margin-top: 20px;
}
.part2-box11{
    background-color: #2BA7E2;
   height: 300px;
   text-align: center;
   
   width: 250px;
   margin-top: 30px;
   border-radius: 4px;
}
.part2-img11{
    margin-top: 20px;
}
.part2-box12{
    background-color: #DFDFDF;
   height: 300px;
   text-align: center;
   box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
   width: 250px;
   margin-top: 30px;
   border-radius: 4px;
}
.part2-img12{
    margin-top: 20px;
}
.part2-box13{
    background-color: #DFDFDF;
   height: 300px;
   text-align: center;
   box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
   width: 250px;
   margin-top: 30px;
   border-radius: 4px;
}
.part2-img13{
    margin-top: 20px;
}
.part1-boxs6{
    background-color: #F9F9F9;
    width: 100%;
    height: 400px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;

}
.container4{
    width: 1100px;
    margin: auto;
    display: flex;
}
.part1-text34{
    width: 286px;
}
.part1-box17{
   
    margin-top: 20px;
    
}
.part1-text34{
    padding: 20px 0px;
    color: #0C101A;
}
.part1-text35{
    font-size: 14px;
    line-height: 24px;
    color: #0C101A;
}
.part1-text36{
    font-size: 14px;
    color: #0C101A;
    line-height: 24px;
}
.text1{
    color: #0C101A !important;
    padding: 0px 0px 30px 0px !important;
    margin-top: 25px;
}
.part1-box18 h1{
    margin-left: 160px;
    font-size: 16px;
    padding: 5px 0px;
    color: #3A4E50;
    font-weight: 700;
}
.part1-box18{
    margin-top: 20px;
}
.text-bos{
    padding: 0px 0px 30px 0px !important;
    color: #0C101A !important;
    font-weight: 700;
    margin-top: 20px;
}

.part1-text-boss{
    font-size: 16px;
    margin-left: 60px;
    color: #3A4E50;
    padding: 5px 0px;
    font-weight: 700;
}
.part1-box19{
    margin-left: 100px;
    margin-top: 20px;

}
.fa-x-twitter{
    margin-top: 25px;
    font-size: 24px;
}
.fa-facebook{
    font-size: 24px;
    margin-left: 15px;
}
.fa-instagram{
    font-size: 24px;
    margin-left: 15px;
}
.conta{
    box-shadow: 0px 2px 0px 0px rgb(255, 255, 255);
    display: flex;
    width: 1100px;
    
}
.hello{
    margin-bottom: 50px;
}
.part1-text-boss1{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-top: 25px;
}
.part1-text37{
    margin-top: -30px;
    padding: 40px 0px 40px 0px;
    margin-left: 120px;
    color: #0C101A;
    font-weight: 700;
}
.part2-boxs-main1{
    background-color: #2BA7E2;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
table{
    margin-left: 300px;
    margin-top: 100px;
    width: 800px;
    border: 1px solid black;
}
.part2-container{
    width: 1100px;
    margin: auto;
}
.part2-img1{
    transition: 1.2s;
}














